.high-dense {
  min-height: 30px !important;
  padding: 0 10px !important;
  -webkit-app-region: drag;
  button {
    -webkit-app-region: no-drag;
  }
}

.leave-space {
  margin-top: 30px !important;
}

.title-header {
  font-size: 12px;
  font-weight: 400;
}

.MuiDrawer-root {
  .makeStyles-toolbar-9 {
    min-height: 30px !important;
  }
}

.MuiListItem-gutters {
  padding-left: 24px !important;
}

.MuiIconButton-root {
  padding: 5px !important;
}

.dynamic-height {
  height: calc(100vh - 30px) !important;
  margin-top: 30px;
  padding: 0 !important;
}
